<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-image">
        <img src="/img/usuario.png" alt="" style="margin: 10px;
  width: 1600px;
  height: 100px;
  padding-left: 50px">
        <span class="card-title add-project" style="font-weight: bolder;">
          Editar Usuario 
        </span>
      </div>
       <form autocomplete="off" action="/project/edit/{{ project._id }}?_method=put" method="post">
        <div class="card-content">
          <div class='input-field'>
            <label for='project-name'>Nombre</label>
            <input
              placeholder='El nombre del proyecto aqui 👇'
              id='project-name'
              name='name'
              type='text'
              class="validate"
              value="{{ project.name }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario ingresar el nombre del usuario"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='project-name'>Apellido</label>
            <input
              placeholder='El Apellido'
              id='project-apellidos'
              name='apellidos'
              type='text'
              class="validate"
              value="{{ project.apellidos }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario el apellido"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
           <div class='input-field'>
            <label for='project-name'>Correo</label>
            <input
              placeholder='El Correo'
              id='project-correo'
              name='correo'
              type='text'
              class="validate"
              value="{{ project.correo }}"
              required
            />
            <span 
              class="helper-text"
              data-error="Es necesario el Correo"
              data-success="✅ Correcto"
              ></span>
            {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='project-curp'>Curp:</label>
            <input
              placeholder='curp'
              id='project-curp'
              name='curp'
              type='text'
              class="validate"
              value="{{ project.curp }}"
              required
            />
            <span
	class="helper-text"
  data-error="Es necesario ingresar tu Curp"
  data-success="✅ Correcto"></span>
             {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='project-rcf'>RCF:</label>
            <input
              placeholder='rfc'
              id='project-rfc'
              name='rfc'
              type='text'
              class="validate"
              value="{{ project.rfc }}"
              required
            />
            <span
	class="helper-text"
  data-error="Es necesario ingresar tu rfc"
  data-success="✅ Correcto"></span>
             {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
          <div class='input-field'>
            <label for='project-apellidos'>Contrasena:</label>
            <input
              placeholder='contrasena'
              id='project-contrasena'
              name='contrasena'
              type='text'
              class="validate"
              value="{{ project.contrasena }}"
              required
            />
            <span
	class="helper-text"
  data-error="Es necesario ingresar tu contraseña"
  data-success="✅ Correcto"></span>
             {{#if errorModel.name }}
            <span style="color: crimson;">Error: {{ errorModel.name }}</span>
            {{/if}}
          </div>
          </div>
          <div class="card-action">
          <button type="submit" class="blue darken-3 waves-effect waves-light btn">
            <i class="material-icons left">edit</i> Editar
          </button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>